{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<h1>Enter your pitch.</h1>
<p class="col-md-8">Find journalist recommendations to cover your next press release. Get started today.</p>

<form action="/results" method='POST'>
	<div class="form-floating mb-3">
		<textarea class="form-control" placeholder="What's your story?" id="floatingTextarea" style="height: 200px" name="input_article"></textarea>
		<label for="floatingTextarea">Your media pitch</label>
	</div>
	<input class="w-100 btn btn-lg btn-primary" type="submit" name="submit">
</form>
{% endblock %}