<!DOCTYPE html>
<html>
<head>
	<title>Page not found!</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
	<div class="jumbotron" style="height: 100vh;">
  		<h1 class="display-4">Page not found!</h1>
  		<p class="lead">Sorry, the page you're looking for does not exist.</p>
  		<hr class="my-4">
  		<p>Seems like there's a glitch in the matrix.</p>
  		<p class="lead py-2">
    		<a class="btn btn-primary" href="/" role="button">Go back home.</a>
  		</p>
	</div>
</body>
</html>